.Why-Seller {
    margin-top: 140px;

    .container {
        display        : flex;
        align-items    : center;
        justify-content: flex-end;
    }

    &-left {

        img {
            width : 390px;
            height: 280px;
        }
    }


    &-right {
        display       : flex;
        flex-direction: column;
        width         : 620px;
        margin-left: 70px;

        &-title {
            font-size    : 30px;
            color        : $color-green;
            margin-bottom: 25px;
            margin-top   : 20px;
        }

        &-description {
            font-size    : 16px;
            color        : $color-dark-gray;
            margin-bottom: 25px;

        }

        &-button {
            height          : 40px;
            width           : 150px;
            background-color: $color-green;
            color           : $color-white;
            border-radius   : 4px;
            outline         : none;
            user-select     : none;
            cursor          : pointer;
        }
    }
}