$container-width : 1210px;
$gutter          : 20px;


$font-family : "Lato",
"Arial",
"sans serif";

$font-size : 14px;


$color-green          : #8BC34A;
$color-white          : white;
$color-dark-gray      : #757575;
$color-light-gray     : #E0E0E0;
$color-icon           : #c8c8c8;
$color-icon2          : #C6C6C5;
$color-nav-background : #f4f4f4;

$color-footer-text : #1c1c1b;